<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= homeContent %> </p>

<% data.forEach(function(ele){ %>
  <h1> <%= ele.title %> </h1>
  <p>
  <%= ele.content.substring(0,100) + "..." %>
  <a href="/posts/<%= ele._id %> " >Read More</a>
  </p>  <% }); %>
<%- include("partials/footer"); -%>
